/* -------------- Footer Start ------------------ */

footer {
  background-color: #e8e8e8;
  padding: 2rem 0;
}

footer > div.container > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 22pt;
}

.footer-row > img {
  height: 60pt;
  width: 60pt;
}

footer > div > div > div:nth-child(1) > div > p {
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;

  color: #454545;
  margin: 20pt 0 0 10pt;
}

.footer-text {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;

  color: #454545;
  margin: 0 0 10pt;
}

footer > div > div > div:nth-child(2) > div {
  padding-left: 3rem;
}

@media only screen and (max-width: 1138px) {
  /* Footer correction */
  footer > div > div > div:nth-child(1) > div > p {
    margin: 12pt 0 0 10pt;
  }
  .footer-column {
    padding-top: 12pt;
  }
}

@media only screen and (max-width: 820px) {
  /* Footer correction */
  footer > div.container > div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15pt 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 15pt;
    -moz-column-gap: 15pt;
    column-gap: 15pt;
  }

  footer > div.container > div > div:nth-child(1) {
    grid-column: 1;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    padding-bottom: 1rem;
  }

  footer > div > div > div:nth-child(1) > div > p {
    margin: 20pt 0 0 10pt;
  }

  footer > div > div > div:nth-child(2) > div {
    padding-left: 0;
  }
}
