@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 200;
  src: local('Prompt ExtraLight'), local('Prompt-ExtraLight'), url('/fonts/Prompt-ExtraLight.ttf') format('ttf');
}

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 300;
  src: local('Prompt Light'), local('Prompt-Light'), url('/fonts/Prompt-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: local('Prompt Regular'), local('Prompt-Regular'), url('/fonts/Prompt-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  src: local('Prompt Medium'), local('Prompt-Medium'), url('/fonts/Prompt-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 600;
  src: local('Prompt SemiBold'), local('Prompt-SemiBold'), url('/fonts/Prompt-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 700;
  src: local('Prompt Bold'), local('Prompt-Bold'), url('/fonts/Prompt-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 800;
  src: local('Prompt ExtraBold'), local('Prompt-ExtraBold'), url('/fonts/Prompt-ExtraBold.ttf') format('ttf');
}


@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 900;
  src: local('Prompt Black'), local('Prompt-Black'), url('/fonts/Prompt-Black.ttf') format('ttf');
}


body {
  background-color: #000;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
p {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: Prompt;
}

/* Variables */

:root {
  --margin-horizontal: 80pt;
}

@media only screen and (max-width: 1100px) {
  /* Container correction */
  :root {
    --margin-horizontal: 40pt;
  }
}

@media only screen and (max-width: 850px) {
  /* Container correction */
  :root {
    --margin-horizontal: 20pt;
  }
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.container {
  padding: 0 var(--margin-horizontal);
  position: relative;
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.slide-in-bottom {
  transform: translateY(20%);
  opacity: 0;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
}

.slide-in-bottom.appear {
  transform: translateY(0);
  opacity: 1;
}

.slide-in-left {
  transform: translateX(-10%);
  opacity: 0;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
}

.slide-in-right {
  transform: translateX(10%);
  opacity: 0;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
}

.slide-in-right.appear,
.slide-in-left.appear {
  transform: translateX(0);
  opacity: 1;
}

@media only screen and (min-width: 1620px) {
  /* Container correction */
  .container {
    width: 1390px;
    margin: 0 auto;
    position: relative;
  }
}
