#section-1 > div > h1:nth-child(1) {
  font-style: normal;
  font-weight: 800;
  font-size: 5rem;
  background-image: -o-linear-gradient(190deg, #6e54fa 40%, #fc4272, #fd6442);
  background-image: linear-gradient(-100deg, #6e54fa 40%, #fc4272, #fd6442);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#section-1 > div > h1:nth-child(2) {
  font-style: normal;
  font-weight: 800;
  font-size: 5rem;
  background-image: -o-linear-gradient(
    359.01deg,
    #548bfa 0.28%,
    #28f1c3 40.66%,
    #febf2f 60.8%
  );
  background-image: linear-gradient(
    90.99deg,
    #548bfa 0.28%,
    #28f1c3 40.66%,
    #febf2f 60.8%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#section-1 > div > div {
  width: 131px;
  height: 8px;
  background: -o-linear-gradient(
    359.92deg,
    #ffffff 0.07%,
    rgba(255, 255, 255, 0.2) 230.4%
  );
  background: linear-gradient(
    90.08deg,
    #ffffff 0.07%,
    rgba(255, 255, 255, 0.2) 230.4%
  );
  margin: 1rem 0 2rem;
}

#section-1 > div > p {
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.7rem;
  max-width: 50%;

  color: rgba(255, 255, 255, 0.7);
}

#section-1 {
  width: 100%;
  height: calc(100vh - 7rem);
  padding-top: 7rem;
  background: -o-radial-gradient(top left, circle, #000f44 0%, #000000 100%);
  background: radial-gradient(circle at top left, #000f44 0%, #000000 100%);
  z-index: 9;
  position: relative;
}

#section-1 > img:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  z-index: 10;
  height: 430pt;
  border: 0 solid transparent;
  width: 100%;
  background-image: -o-linear-gradient(
    76.5deg,
    #548bfa -10.15%,
    #26167a 98.88%
  );
  background-image: linear-gradient(13.5deg, #548bfa -10.15%, #26167a 98.88%);
  -webkit-clip-path: polygon(0 65%, 100% 51%, 100% 72%, 0 100%);
  clip-path: polygon(0 65%, 100% 51%, 100% 72%, 0 100%);
  -webkit-transform: translate(0, 85pt);
  -ms-transform: translate(0, 85pt);
  transform: translate(0, 85pt);
}

#section-1 > img:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 11;
  padding-top: 100%;
  width: 45%;
}

@media only screen and (max-width: 1100px) {
  #section-1 > div > h1:nth-child(1) {
    font-size: 4rem;
  }

  #section-1 > div > h1:nth-child(2) {
    font-size: 4rem;
  }

  #section-1 > div > p {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}

@media only screen and (max-width: 850px) {
  #section-1 > div > h1:nth-child(1) {
    font-size: 3.5rem;
  }

  #section-1 > div > h1:nth-child(2) {
    font-size: 3.5rem;
  }

  #section-1 > div > p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  #section-1 > div > div {
    width: 90px;
    height: 8px;
  }

  #section-1 > img:nth-child(3) {
    width: 60%;
  }

  #section-1 > img:nth-child(2) {
    -webkit-transform: translate(0, 95pt);
    -ms-transform: translate(0, 95pt);
    transform: translate(0, 95pt);
  }
}

@media only screen and (max-width: 700px) {
  #section-1 > div > p {
    max-width: 70%;
  }
  #section-1 > img:nth-child(3) {
    width: 70%;
  }
}

@media only screen and (max-width: 400px) {
  #section-1 > div > h1:nth-child(1) {
    font-size: 2.2rem;
  }

  #section-1 > div > h1:nth-child(2) {
    font-size: 2.2rem;
  }
  #section-1 > img:nth-child(3) {
    width: 80%;
  }
}

@media only screen and (min-width: 1620px) {
  /* Container correction */
  #section-1 > img:nth-child(3) {
    width: 80vh;
  }
}
