/* -------------- card start ----------------*/

#section-3 {
  width: 100%;
  z-index: 9;
  position: relative;
  padding-bottom: 7rem;
}

#section-3 > div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-top: 18rem;
}

#card-container-spacer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.card-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.card {
  border: 0.3rem solid transparent;
  border-radius: 1.4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2rem 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#card-1 {
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#1a1a1a),
      to(#1a1a1a)
    ),
    -webkit-gradient(linear, left top, left bottom, from(#548bfa), to(#28f1c3));
  background: -o-linear-gradient(left, #1a1a1a, #1a1a1a),
    -o-linear-gradient(top, #548bfa, #28f1c3);
  background: linear-gradient(to right, #1a1a1a, #1a1a1a),
    linear-gradient(to bottom, #548bfa, #28f1c3);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

#card-2 {
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#1a1a1a),
      to(#1a1a1a)
    ),
    -webkit-gradient(linear, left top, left bottom, from(#febf2f), to(#fd6442));
  background: -o-linear-gradient(left, #1a1a1a, #1a1a1a),
    -o-linear-gradient(top, #febf2f, #fd6442);
  background: linear-gradient(to right, #1a1a1a, #1a1a1a),
    linear-gradient(to bottom, #febf2f, #fd6442);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  margin-top: 10rem;
}

#card-3 {
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#1a1a1a),
      to(#1a1a1a)
    ),
    -webkit-gradient(linear, left top, left bottom, from(#fc4272), to(#6e54fa));
  background: -o-linear-gradient(left, #1a1a1a, #1a1a1a),
    -o-linear-gradient(top, #fc4272, #6e54fa);
  background: linear-gradient(to right, #1a1a1a, #1a1a1a),
    linear-gradient(to bottom, #fc4272, #6e54fa);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  margin-top: 10rem;
}

#card-4 {
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#1a1a1a),
      to(#1a1a1a)
    ),
    -webkit-gradient(linear, left top, left bottom, from(#28f1c3), to(#febf2f));
  background: -o-linear-gradient(left, #1a1a1a, #1a1a1a),
    -o-linear-gradient(top, #28f1c3, #febf2f);
  background: linear-gradient(to right, #1a1a1a, #1a1a1a),
    linear-gradient(to bottom, #28f1c3, #febf2f);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  margin-top: 10rem;
}

.card-image {
  width: 60%;
  height: auto;
}

.card-title {
  font-style: normal;
  font-weight: 800;
  font-size: 2.3em;
  text-align: center;
  color: #ffffff;
  margin: 1rem;
}

.card-text {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;

  color: rgba(255, 255, 255, 0.8);
  margin: 1rem;
}

@media only screen and (max-width: 1100px) {
  /* Container correction */
  .card-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
  }
}

@media only screen and (max-width: 890px) {
  /* Container correction */
  #card-container-spacer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: var(--margin-horizontal);
  }

  .card-title {
    font-size: 2rem;
    margin: 0.3rem;
  }

  .card-text {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .card {
    padding: 1rem 0;
  }

  #section-3 {
    padding-bottom: 4rem;
  }

  #card-3 {
    margin-top: 5rem;
  }

  #card-4 {
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 850px) {
  /* Container correction */
  #section-3 > div.container {
    padding-top: 15rem;
  }
}

@media only screen and (max-width: 720px) {
  .card-title {
    font-size: 1.6rem;
    margin: 0.4rem 0;
  }
}


@media only screen and (max-width: 580px) {
  .card-title {
    font-size: 1.4rem;
    margin: 0.3rem 0;
  }
}



@media only screen and (max-width: 520px) {
  /* Container correction */
  #section-3 {
    padding-bottom: 4rem;
  }
  .card-title {
    font-size: 1.1rem;
    margin: 0.2rem 0;
  }

  .card-text {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
}
